<main class="tablePhrame"
    *ngIf="sourceToDisplay.length !== 0" 
  [ngClass]="{
    'realTime': telemetryUpdateMode === 'realtime',
    'fixedTime': telemetryUpdateMode === 'fixedtime'
    }"
  >
  <div class="tableContainer--overflow"
    [ngClass]="{'mozzilaBrowserStyling': currentBrowserService.browser === 'mozzila'}"
  >
      <ng-container *ngIf="currentBrowserService.browser !== 'mozzila'; else mozzilaTemplate">
        <table>
          <tr class="telemetry"
            *ngFor="let datum of telemetryCache; trackBy:trackByFun"
          >
            <td class="date"><div>{{getDate(datum[0])}}</div></td>
            <td class="time"><div>{{getTime(datum[0])}}</div></td>
            <td *ngFor="let source of sourceToDisplay; let i=index">
              <div>{{getValue(datum, source)}}</div>
            </td>
          </tr>
          <tr class="sourceNames" #header>
            <td class="date"><div class="headerCellContent">Date</div></td>
            <td class="time"><div class="headerCellContent">Time</div></td>
            <td *ngFor="let source of sourceToDisplay">
              <div class="headerCellContent">
                {{unitsOfSources[source]}}
              </div>
            </td>
          </tr>
        </table>
      </ng-container>
      <!-- mozzila has column-reverse bug which makes whole table buggy, so here is rebuilt: -->
      <ng-template #mozzilaTemplate>
        <table>
          <tr class="sourceNames" #header>
            <td class="date mozzilaBrowserStyling"><div class="headerCellContent">Date</div></td>
            <td class="time mozzilaBrowserStyling"><div class="headerCellContent">Time</div></td>
            <td *ngFor="let source of sourceToDisplay" class="mozzilaBrowserStyling">
              <div class="headerCellContent">
                {{unitsOfSources[source]}}
              </div>
            </td>
          </tr>
          <tr class="telemetry" 
            *ngFor="let datum of telemetryCache_reversed; trackBy:trackByFun"
          >
            <td class="date"><div>{{getDate(datum[0])}}</div></td>
            <td class="time"><div>{{getTime(datum[0])}}</div></td>
            <td *ngFor="let source of sourceToDisplay; let i=index">
              <div>{{getValue(datum, source)}}</div>
            </td>
          </tr>
          
        </table>
      </ng-template>
     
        
  </div>
  <app-ui-panel    
    [telemetryUpdateMode]="telemetryUpdateMode"
    [rangesUpdateController]="rangesUpdateController"
    [clockUpdateSpeed]="clockUpdateSpeed"
    (userSubmit)="onUiPanelUserInput($event)"
    [processingUserRequest]="processingUserRequest"
    (killHistory)="onKill()"
  ></app-ui-panel>
</main>

<ng-content></ng-content>

<div *ngIf="sourceToDisplay.length === 0"
  class="noSources">
  <b>Table Applet</b><br>
  Nothing to display: no telemetry source of type 'point' or 'string' seems to be available. <br>
  (Sources to be registered in 'telemetry-settings.json' file on the server.)
</div>