.error,
.info {
  margin: 0px 10px;
  border-radius: 2px;
  padding: 1px;
  font-weight: bold;
  opacity: 0; //initial before animation
  position: absolute;
  bottom: 2.8rem;
  left: 0px;
  z-index: 10;
}
.error {
  color: $errorColor;
  border: 2px solid $errorColor;
  background: $invalidInputColor;
}
.info {
  font-size: 1.2rem;
  color: $uipanelColor;
  border: 2px solid $uipanelColor;
  background: $infoBackgroundColor;
}
.noDataError {
  padding: 0px 3px;
  height: 90%;
  line-height: 1rem;
  background: $invalidInputColor;
  color: $errorColor;
  font-weight: bold;
  font-size: 0.85rem;
  justify-self: center;
  align-self: center;
  grid-column: 2 / 9;
  grid-row: 2 / 3;
  z-index: 10;
}
