
$greenDarkest: #1b201a;
$skyLight: #e3f2ff;
$skyAutumnDark: #a7bdc8;
$skyAutumnBlue: #d0e2f0;
$skyAutumnLight: #e8f5fe;
$treeAutumn: #aeee18;
$treeAutumnDarkened: #f8e21c;
$red: #d02c2c;
$clockRed: #ff2b2b;

$phramesColor: #6081e6;
$phramesColorDarkened: #011c6b;
$phramesColorLightened: #c2d1ff;
$appletBackgroundColor: white;
$realtime: $treeAutumn;
$fixedtime: $clockRed;
$errorColor: rgb(253, 98, 98);
$uiDefaultTextColor: #d8e5fa;
$uipanelColor: #2d3d57;
$appletPhrameColor: #d8e5fa;
$appletPhrameColorLigthed: #9da4b0;
$invalidInputColor: rgba(250, 183, 183, 0.863);
$dirtyColor: $treeAutumnDarkened;
$infoBackgroundColor: $invalidInputColor;
$tableBorder: 1px solid $phramesColor;
$tableBorderDatetime: 1px solid $appletPhrameColor;
$tableLinesColor: rgb(231, 242, 250);
$dateTimeColor: rgb(51, 51, 51);
$disabledColor: rgb(184, 183, 183);
$submenuBackgroundColor: rgba(255, 233, 233, 0.973);
$submenuHoverColor: #fff177e1;
$submenuPhrameColor: $clockRed;
$submenuTextColor: $uipanelColor;
$unitHeight: 15px;
$headerHeight: 20px;
$focusColor: $dirtyColor;