
<div
  class="dropMenu" 
  *ngIf="appletCreationOption; else contextMenu"
>
  <div class="option" (click)="onAddApplet($event,'imagery')">imagery</div>
  <div class="option" (click)="onAddApplet($event,'graph')">graph</div>
  <div class="option" (click)="onAddApplet($event,'table')">table</div>
  <div class="option" (click)="onAddApplet($event,'commander')">commander</div>
</div>


<ng-template #contextMenu>

  <div class="contextmenu">    
    <!-- telemetry selection -->
    <div class="optionContainer" 
      *ngIf="telemetrySelectionOption_radio || telemetrySelectionOption_checkboxes"
    >
      <div class="containerName">
        telemetry sources
      </div>
      <!-- imagery telemetry selection = radio -->
      <form class="containerBody" 
        #radioForm="ngForm"
        *ngIf="telemetrySelectionOption_radio"
        (change)="onTelemetrySelection(radioForm)"
      >
        <div class="option" 
          *ngFor="let source of sourcesAvailableForThisApplet"
        >
          <label>
            <input 
              [value]="source"
              type="radio" 
              name="same"
              [ngModel]="initialSources[0]"
            >
            <span>{{source}}</span>
          </label>
        </div>
      </form>
      <!-- table/graph telemetry selection = checkboxes -->
      <form 
        class="containerBody"
        #checkboxForm="ngForm"
        *ngIf="telemetrySelectionOption_checkboxes"
        (change)="onTelemetrySelection(checkboxForm)"
      >
        <div class="option" 
          *ngFor="let source of sourcesAvailableForThisApplet"
        >
          <label>
            <input 
              type="checkbox" 
              [name]="source"
              [ngModel]="initialSources.includes(source)"
            >
            <span>{{source}}</span>
          </label>
        </div>
      </form>
    </div>

    <div class="separator" *ngIf="collapseTimelineOption"></div>
    <!-- collapse imagery timeline -->
    <div class="option" 
      *ngIf="collapseTimelineOption"
    >
      <label>
        <input 
          type="checkbox" 
          name="hideTimeline"
          #hideTimelineCheckbox
          [checked]="false"
          (change)="onCheckHideTimeline(hideTimelineCheckbox.checked)"
        >
        <span>hide timeline</span>
      </label>
    </div>

    <div class="separator" *ngIf="fullscreenOption"></div>
    <!-- applet fullscreen -->
    <div class="option" 
      *ngIf="fullscreenOption"
    >
      <label>
        <input 
          type="checkbox" 
          [name]="'fullscreen'"
          [checked]="false"
          #fullscreenCheckbox
          (change)="onCheckFullscreen(fullscreenCheckbox.checked)"
        >
        <span>fullscreen</span>
      </label>
    </div>

    <div class="separator" *ngIf="clockUpdateRateOption"></div>
    <!-- uipanel clock update rate -->
    <div class="option" 
      *ngIf="clockUpdateRateOption"
    >
      <label>
        <input 
          type="checkbox" 
          [name]="'clockUpdateRate'"
          #clockUpdateRateCheckbox
          [checked]="false"
          (change)="onCheckClockUpdateRate(clockUpdateRateCheckbox.checked)"
        >
        <span>clock update boost</span>
      </label>
    </div>

    <div class="separator" *ngIf="moveResizeOption"></div>
    <!-- applet move/resize -->
    <div class="option" 
      *ngIf="moveResizeOption"
      [ngClass]="{'disabled': isFullscreen}"
    >
      <label>
        <input 
          type="checkbox" 
          [disabled]="isFullscreen"
          [name]="'moveresize'"
          #moveresizeCheckbox
          [checked]="false"
          (change)="onCheckMoveresize(moveresizeCheckbox.checked)"
        >
        <span>move/resize</span>
      </label>
    </div>

    <div class="separator" *ngIf="appletDeletionOption"></div>
    <!-- applet deletion -->
    <div class="option notCheckbox" 
      *ngIf="appletDeletionOption"
      (click)="onAppletDeletion($event)"
    >destroy
    </div>
  </div>
</ng-template>
