@import "../shared.scss";

:host {
  display: none;
  z-index: 20;
}

.dropMenu {
  border-bottom: 2px solid $submenuHoverColor;
  background-color: $submenuBackgroundColor;
  padding: 5px;
  color: $submenuTextColor;
  font-weight: normal !important;

  > * {
    margin: 2px;
  }
}

.contextmenu {
  border: 2px solid $submenuHoverColor;
  background-color: $submenuBackgroundColor;
  padding: 5px;
  color: $submenuTextColor;

  label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    span {
      padding-left: 3px;
    }
  }
  .separator {
    height: 1px;
    width: 90%;
    margin: 0px auto;
    background-color: $submenuPhrameColor;
  }
  .notCheckbox {
    padding-left: 4px;
  }
  .option,
  .optionContainer {
    display: block; //for labels and forms
    margin: 5px;
  }

  .optionContainer {
    .containerName {
      font-size: 0.85rem;
      margin: 2px;
      // font-weight: bold;
      color: $submenuPhrameColor;
    }
    .containerBody {
      padding: 0px 2px 2px 15px;
      max-height: 30vh;
      overflow-y: auto;

      > .option {
        margin: 2px;
      }
    }
  }
}

.disabled {
  color: $disabledColor;
}
.option:hover {
  background-color: $submenuHoverColor;
}
.option.disabled:hover {
  background-color: transparent;
}
