@import "../../shared/shared.scss";

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  // background-color: yellow;
}

@keyframes rollRight {
  0% {
    width: 0px;
  }
  100% {
    width: 84px;
  }
}

.item.addApplet:hover {
  .addApplet__name {
    animation-name: rollRight;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.item.addApplet {
  background-color: transparent;
  height: $headerHeight;
  width: fit-content;
  cursor: pointer;

  .flexContainer {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
    height: $headerHeight;
  }

  .addApplet__icon {
    background-image: url("../../../assets/plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    // margin: 2px;
    // padding: 2px;
  }
  .addApplet__name {
    font-weight: bold;
    color: $red;
    white-space: nowrap;
    height: 15px;
    width: 0px;
    // margin: 2px;
    // padding-top: 5px;
    line-height: 1.4rem;
    padding-left: 4px;
  }
}

.item.clock {
  background-color: transparent;
  color: black;
  line-height: 1.4rem;
  cursor: default;
}

.item {
  margin: 0 5px;
  background-color: black;
  // color: $greenDarkest;
  font-weight: 500;
  // font-size: 0.8rem;
  height: 15px;
  padding: 1px;
}

.item:hover {
  background-image: none;
  .appletReference__icon {
    background-color: $dirtyColor;
  }
  .appletReference__text {
    color: $dirtyColor;
  }
}

.appletReference {
  display: flex;
  cursor: pointer;
  // justify-content: space-between;
  align-items: center;
  color: $skyLight;
  // border: solid 2px $greenDarkest;
}
.appletReference__icon {
  background-color: $skyLight;
  background-size: contain;
  width: 15px;
  height: 100%;
  // padding: 1px;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.appletReference__text {
  height: 100%;
  margin-left: 1px;
  line-height: 1.4rem;
}
.graph {
  background-image: url("../../../assets/graph.png");
}
.imagery {
  background-image: url("../../../assets/imagery.png");
}
.table {
  background-image: url("../../../assets/table.png");
}
.commander {
  background-image: url("../../../assets/commander.png");
}
