
<main *ngIf="sourceToDisplay.length !== 0" 
  #graph 
  class="graphPhrame"
>
  <app-dygraphs
    [updateDygraphSubject]="updateDygraphSubject"
    [ngClass]="{'mozzilaStyling': currentBrowserService.browser === 'mozzila'}"
  ></app-dygraphs>

  <app-ui-panel 
    [telemetryUpdateMode]="telemetryUpdateMode"
    [rangesUpdateController]="rangesUpdateController"
    [clockUpdateSpeed]="clockUpdateSpeed"
    (userSubmit)="onUiPanelUserInput($event)"
    (userSubmit)="unzoomGraphHorizontallyOnResume($event)"
    [processingUserRequest]="processingUserRequest"
    (killHistory)="onKill()"
  ></app-ui-panel>

</main>
<ng-content></ng-content>

<div *ngIf="sourceToDisplay.length === 0"
  class="noSources">
  <b>Graph Applet</b><br>
  Nothing to display: no telemetry source of type 'point' seems to be available. <br>
  (Sources to be registered in 'telemetry-settings.json' file on the server.)
</div>