<div
  class="dygraphs-chart-container"
  [appFadeVerticalSelectors]="{
    chart: chart,
    sides: [topSide, bottomSide],
    selectors: [upperSelector, lowerSelector],
    inputs: [upperInput, lowerInput]
  }"
  (showVerticalSelectors)="showSelector = $event"
  [zoomedVertically]="zoomedVertically"
>
  <!-- dygraph package -->
  <div #chart class="chart" appLegendPosition></div>

  <!-- 'How to unzoom' information for user -->
  <span class="zoomInformation" *ngIf="showInfo" [@creation]="'in'">
    Doubleclick to unzoom, Shift + drag to pane
  </span>

  <div class="zoomTrackerFrame">
    <!-- colored sides on zoom -->
    <div class="top" #topSide [@showSide]="showVerticalSides"></div>
    <div class="right" [@showSide]="showRightSide"></div>
    <div class="bottom" #bottomSide [@showSide]="showVerticalSides"></div>
    <div class="left" [@showSide]="showLeftSide"></div>
  </div>

  <!-- vertical selectors -->
  <div class="verticalRangeSelector--container">
    <div
      class="upperSelector--container"
      #upperSelector
      [@showSelector]="showSelector"
      appStopDblclickPropagation
    >
      <div class="refresh" (click)="onUnzoomFromVerticalRefreshButton()"></div>

      <input
        class="input"
        #upperInput
        [ngClass]="{
          mozzilaStyling: currentBrowserService.browser === 'mozzila'
        }"
        [appFixInputBlur]="chart"
        (input)="onVerticalRangeInput(lowerInput.value, upperInput.value)"
        [appAutoStretchInput]="upperBound"
        [autoStretchCharWidth]="0.56"
        [autoStretchPadding]="1.6"
        type="number"
        [value]="upperBound"
        [step]="verticalSelectorStep"
      />
    </div>
    <div
      class="lowerSelector--container"
      #lowerSelector
      [@showSelector]="showSelector"
      appStopDblclickPropagation
    >
      <div class="refresh" (click)="onUnzoomFromVerticalRefreshButton()"></div>
      <input
        class="input"
        #lowerInput
        [ngClass]="{
          mozzilaStyling: currentBrowserService.browser === 'mozzila'
        }"
        [appFixInputBlur]="chart"
        (input)="onVerticalRangeInput(lowerInput.value, upperInput.value)"
        type="number"
        [value]="lowerBound"
        [step]="verticalSelectorStep"
        [appAutoStretchInput]="lowerBound"
        [autoStretchCharWidth]="0.56"
        [autoStretchPadding]="1.6"
      />
    </div>
  </div>
</div>
