<main>
  <div class="flexContainer">
    <div class="status">
      <div class="historicalMessage" *ngFor="let message of history">
        <span class="dateTime">{{ message[0] }}</span>
        <span class="separator">: </span>
        <span
          [ngClass]="{
            failed: message[2] === 'failed',
            received: message[2] === 'received'
          }"
        >
          {{ message[1] }}
        </span>
      </div>
    </div>

    <input
      class="input"
      #input
      name="command"
      type="text"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      [value]="inputValue"
      (keydown)="onKeyDown($event, input.value)"
      (focus)="resetArrowsCounter()"
      (input)="onInput()"
    />
  </div>
</main>
<ng-content></ng-content>
